@(
title : String,
mapSettings : Map[String,String]
)(content : Html)
<div class="x_panel">
    <div class="x_title">
        <h2>@title</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            @if(mapSettings.size > 0){
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    @for((href,settingsLabel) <- mapSettings){
                    <li><a href="@href">@settingsLabel</a>
                    </li>
                    }
                </ul>
            </li>
            }
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @content
    </div>
</div>